.userListWrapper {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 400px;
	z-index: 2;
	background-color: rgba(80, 80, 80, 0.8);
	border-bottom-right-radius: 10px;
	padding: 10px;
	user-select: none;

	font-family: 'Roboto', sans-serif;
	font-weight: 100;

	transition: all 600ms cubic-bezier(0.28, 0.84, 0.42, 1);
}

.visible {
	left: 0px;

	transition: all 600ms cubic-bezier(0.28, 0.84, 0.42, 1);
}

.hidden {
	left: -400px;

	transition: all 600ms cubic-bezier(0.28, 0.84, 0.42, 1);
}

.header {
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 10px;
}

.listStyle {
	list-style: none;
}

.user {
	width: 100%;
	margin-right: 30px;
	display: flex;

	&::before {
		content: '•';
		color: red;
		font-size: 64px;
		line-height: 20px;
		text-shadow: red 0 0 5px !important;
	}
}

.online {
	// background-color: rgb(126, 184, 126);

	&::before {
		content: '•';
		color: green;
		// float: right;
		font-size: 64px;
		line-height: 20px;
		text-shadow: green 0 0 5px !important;
	}

	// &::after {
	// 	content: '•';
	// 	color: green;
	// 	float: right;
	// 	font-size: 64px;
	// 	line-height: 20px;
	// 	text-shadow: green 0 0 5px !important;
	// }
}
