.chatContainer {
	position: absolute;
	left: 440px;
	right: 440px;
	bottom: 75px;
	width: calc(100% - 3px);
	opacity: 0.9;

	a,
	a:active,
	a:visited {
		color: #3477bf;
		cursor: pointer;
		position: relative;
		display: inline-block;
		font-weight: 600;
		text-decoration: none;
	}

	.messages {
		flex-direction: column;
		display: flex;
		margin: 5px;
	}

	.username {
		margin-right: 8px;
	}

	.message {
		color: #ffc45e;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		display: flex;
		flex-direction: row;
		font-weight: 600;
		letter-spacing: 0.4px;
	}
}
