.chatContainer {
	position: absolute;
	left: 440px;
	right: 440px;
	bottom: 75px;
	width: calc(100% - 3px);
	opacity: 0.9;

	.messages {
		flex-direction: column;
		display: flex;
	}

	.username {
		margin-right: 8px;
	}

	.message {
		padding: 5px;
		color: #ffc45e;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		display: flex;
		flex-direction: row;
		font-weight: 600;
		letter-spacing: 0.4px;
	}
}
