input {
	width: 96%;
	padding-top: 10px;
	padding-bottom: 10px;
}

button {
	width: 96%;
	border: 1px solid #fff;
	background-color: rgb(0, 255, 115);
}

.chat {
	height: 95vh;
	overflow-y: scroll;
}
