.chatContainer {
	position: absolute;
	bottom: 40px;
	height: calc(100vh - 80px);
	left: 410px;
	right: 410px;
	opacity: 0.9;
	background: rgba(0, 0, 0, 0.4);

	&.enter {
		opacity: 0;
	}

	&.enterActive {
		opacity: 0.9;
		transition: opacity 200ms;
	}

	&.exit {
		opacity: 0.9;
	}

	&.exitActive {
		opacity: 0;
		transition: opacity 200ms;
	}
	&.exitDone {
		opacity: 0;
	}

	.messages {
		flex-grow: 1;
		flex-direction: column;
		display: flex;
		padding: 5px;
		height: calc(100vh - 120px);
		overflow: hidden auto;
	}

	.username {
		margin-right: 8px;
	}

	input {
		background: none;
		border-top: 1px solid #000;
		color: #d29a38;
		min-width: 100%;
		font-size: 16px;
		font-weight: 600;
		&:active,
		&:focus {
			outline: none;
		}
	}

	.message {
		color: #d29a38;
		display: flex;
		flex-direction: row;
		font-weight: 600;
		letter-spacing: 0.4px;
	}
}
