.chatContainer {
	background: rgba(0, 0, 0, 0.4);
	opacity: 0.9;
	height: 100%;

	&.enter {
		opacity: 0;
	}

	&.enterActive {
		opacity: 0.9;
		transition: opacity 200ms;
	}

	&.exit {
		opacity: 0.9;
	}

	&.exitActive {
		opacity: 0;
		transition: opacity 200ms;
	}
	&.exitDone {
		opacity: 0;
	}

	a,
	a:active,
	a:visited {
		color: #3477bf;
		cursor: pointer;
		position: relative;
		display: inline-block;
		font-weight: 600;
		text-decoration: none;
	}

	.messages {
		flex-grow: 1;
		flex-direction: column;
		display: flex;
		padding: 5px;
		overflow: hidden auto;
		max-height: calc(100% - 45px);
	}

	.username {
		margin-right: 8px;
	}

	input {
		background: none;
		border-top: 1px solid #000;
		color: #ffc45e;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		min-width: 100%;
		font-size: 16px;
		font-weight: 600;
		height: 30px;
		&:active,
		&:focus {
			outline: none;
		}
	}

	.message {
		color: #ffc45e;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		display: flex;
		flex-direction: row;
		font-weight: 600;
		letter-spacing: 0.4px;
	}
}
