.roll-container {
	font-family: 'Libre Baskerville', serif;
	width: 96%;
	padding: 8px;
	margin: 8px 16px 8px 0;
	box-sizing: border-box;
	font-size: 14px;
	background: #202020;
	border: 2px solid #000;
	border-radius: 4px;
}

.roll-skill {
	color: #0a9997;
}
.roll-adhoc {
	color: #948848;
}
.roll-ability {
	color: #679459;
}

.roll-header {
	width: 100%;
	display: flex;
	align-items: center;
}
.roll-user {
	flex: 1;
	color: #ccc;
	font-size: 12px;
}
.roll-type {
	flex: 1;
	text-align: right;
	font-variant: small-caps;
}

.roll-title {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	width: 100%;
	text-align: center;
	margin-top: 4px;
}

.roll-name {
	font-weight: 600;
	font-variant: small-caps;
}

.roll-modifier {
	margin-left: 4px;
	color: #999;
	text-align: center;
	font-size: 17px;
	font-family: 'Cabin';
	letter-spacing: 1px;
}

.roll-rolls {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-family: 'Cabin';
	position: relative;
}

.roll-1,
.roll-2 {
	display: flex;
	min-height: 60px;
	width: 100px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.summary {
	font-size: 32px;
	color: #ccc;
}

.summary.crit {
	color: #2c942c;
}

.summary.critFail {
	color: #94342c;
}

.ignore {
	opacity: 0.3;
}

.details {
	color: #999;
	letter-spacing: 1px;
}

.roll-advantage,
.roll-disadvantage {
	height: 30px;
	width: 30px;
	color: #202020;
	font-size: 20px;
	text-align: center;
	line-height: 30px;
	font-weight: 600;
}
.roll-advantage {
	background: url(./advantage.svg);
}

.roll-disadvantage {
	background: url(./disadvantage.svg);
}
