.roll-container {
	font-family: 'Libre Baskerville', serif;
	width: 96%;
	padding: 8px;
	margin: 8px 16px 8px 0;
	box-sizing: border-box;
	font-size: 14px;
	color: #222;
	border-radius: 4px;
}

.roll-skill {
	background: #ccf;
	border: 1px solid #aaf;
}
.roll-adhoc {
	background: #ffc;
	border: 1px solid #ffa;
}
.roll-header {
	width: 100%;
	display: flex;
	color: rgba(0, 0, 0, 0.6);
}
.roll-user {
	flex: 1;
}
.roll-type {
	flex: 1;
	text-align: right;
	font-variant: small-caps;
}

.roll-title {
	display: inline-block;
	font-size: 16px;
	width: 100%;
	text-align: center;
}

.roll-name {
	font-weight: 600;
	font-variant: small-caps;
}

.roll-modifier {
	margin-left: 4px;
	color: rgba(0, 0, 0, 0.6);
	text-align: center;
	font-size: 14px;
	font-family: 'Cabin';
}

.roll-rolls {
	width: 100%;
	display: flex;
	justify-content: center;
	font-family: 'Cabin';
}

.roll-1,
.roll-2 {
	flex: 1;
	display: flex;
	min-height: 60px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.roll-2 {
	border-left: 2px dashed rgba(0, 0, 0, 0.6);
}

.roll-1.ignore,
.roll-2.ignore {
	color: rgba(0, 0, 0, 0.3);
}

.summary {
	font-size: 32px;
}

.details {
	color: rgba(0, 0, 0, 0.4);
	letter-spacing: 1px;
}
