.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.characterSheet {
	background: #202020;
	width: 100vw;
	height: 100vh;
	overflow: hidden auto;
	box-sizing: border-box;
	padding: 4px;
	&.inline {
		width: 100%;
		height: auto;
	}

	hr {
		margin: 8px 0;
		height: 0;
		border-style: solid;
		border-width: 3px 0 3px 99vw;
		border-color: transparent transparent transparent #d29a38;
	}

	input.hpCurrent {
		max-width: 60px;
	}
}

.popout .character-close,
.popout .character-popout {
	display: none;
}

.characterClose,
.characterCancel {
	background: red;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.characterDetails {
	display: flex;
	flex-direction: row;
	align-items: space-between;
	justify-content: center;
	width: 100%;
}
.characterName {
	color: #d29a38;
	font-size: 24px;
	font-variant: small-caps;
	font-weight: bold;
	font-family: 'Libre Baskerville', serif;
}
.button {
	background: #333;
	border-radius: 60px;
	margin: 0 4px;
	padding: 4px;
	width: 24px;
	height: 24px;
	cursor: pointer;
}
.characterType {
	font-style: italic;
	color: #999;
}

.abilityContainer {
	display: flex;
}

.proficiency,
.abilityContainer,
.speed,
.initiative {
	color: #ccc;
	font-family: sans-serif;
}

.ability,
.proficiency,
.speed,
.initiative {
	margin: 8px;
	height: 75px;
	position: relative;
	margin: 8px;
	border: 2px solid #000;
	background: #202020;
	border-radius: 8px;
	margin-bottom: 8px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ability {
	width: 80px;
}

.proficiency,
.speed,
.initiative {
	width: 90px;
}

.initiative {
	border-radius: 32px;
	height: 65px;
}

.abilityTitle,
.proficiencyTitle,
.speedTitle,
.initiativeTitle,
.speedType,
.acTitle,
.hpTitle,
.hpHeader {
	text-align: center;
	text-transform: uppercase;
	font-size: 9px;
	font-weight: 700;
	color: #999;
	letter-spacing: -0.4px;
}

.abilityTitle,
.proficiencyTitle,
.speedTitle,
.initiativeTitle,
.acTitle,
.hpTitle {
	position: absolute;
	top: 12px;
	left: 0;
	right: 0;
}

.abilityModifier,
.proficiencyModifier,
.speedModifier,
.initiativeModifier {
	position: relative;
	line-height: 28px;
}

.abilityModifier {
	margin-top: 7px;
}

.proficiencyModifier {
	margin-top: 12px;
}

.initiativeModifier {
	margin-top: 19px;
}

.abilitySymbol,
.proficiencySymbol,
.initiativeSymbol {
	position: absolute;
	right: 100%;
	margin-right: 1px;
	font-size: 20px;
	font-weight: 700;
	color: #808080;
}

.abilityNumber,
.proficiencyNumber,
.speedNumber,
.initiativeNumber {
	font-size: 28px;
}

.abilityScore {
	position: absolute;
	font-weight: 600;
	font-size: 17px;
	top: 62px;
	height: 25px;
	left: 18px;
	width: 40px;
	line-height: 25px;
	text-align: center;
	border: 2px solid #000;
	border-radius: 50%;
	background: #202020;
}

.popupAdvantage,
.popupDisadvantage {
	height: 30px;
	width: 30px;
	color: #202020;
	font-size: 20px;
	text-align: center;
	line-height: 30px;
	font-weight: 600;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	z-index: 1;
	opacity: 0;
	visibility: collapse;
	transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
		opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms, visibility 300ms;
}
.popupAdvantage {
	background: url(../../../../components/chat/advantage.svg);
	right: -16px;
	transform: translate3d(-10px, 0, 0);
}
.popupDisadvantage {
	background: url(../../../../components/chat/disadvantage.svg);
	left: -16px;
	transform: translate3d(10px, 0, 0);
}

div:hover > .popupAdvantage,
div:hover > .popupDisadvantage {
	transform: translate3d(0, 0, 0);
	opacity: 1;
	visibility: visible;
}

div:hover > .popupAdvantage:hover,
div:hover > .popupDisadvantage:hover {
	color: #ccc;
	transform: scale(1.25);
}

.proficiencyTitle,
.speedTitle,
.initiativeTitle,
.acTitle,
.hpTitle {
	font-family: 'Libre Baskerville', serif;
	font-variant: small-caps;
	font-size: 11px;
	top: 9px;
}
.speedContainer {
	margin-top: 12px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.speedUnit {
	color: #808080;
	position: absolute;
	left: 100%;
	margin-left: 4px;
	bottom: 3px;
}
.speedPopup {
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	border: 2px solid #000;
	background: #202020;
	border-radius: 8px;
	opacity: 0;
	transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), visibility 300ms;
	visibility: collapse;
	padding-bottom: 12px;
	padding-top: 16px;
	z-index: 1;
}
.speedPopupWrap {
	position: relative;
}

.speed:hover .speedPopup {
	opacity: 1;
	visibility: visible;
}

.saveContainer,
.skillContainer {
	width: 285px;
	border: 2px solid #000;
	border-radius: 32px;
	background: #202020;
	margin: 16px 0 16px 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	color: #ccc;
	padding: 8px;
}

.saveContainer {
	flex-wrap: wrap;
}

.skillContainer {
	flex-direction: column;
}

.save,
.skill {
	position: relative;
	cursor: pointer;
}
.save {
	margin: 8px;
}
.skill {
	margin: 4px 8px;
}

.saveWrapper,
.skillWrapper {
	border: 1px solid #444;
	border-radius: 80px;
	display: flex;
	position: relative;
	margin-right: 32px;
	padding: 4px;
}

.saveWrapper {
	width: 70px;
	justify-content: center;
	align-items: center;
}

.skillWrapper {
	width: 210px;
	justify-content: start;
	align-items: center;
}

.saveTitle,
.skillAbility {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: -0.4px;
}

.skillAbility {
	color: #808080;
	margin: 0 24px;
	width: 24px;
}
.skillTitle {
	font-size: 14px;
}

.saveModifier,
.skillModifier {
	border: 1px solid #444;
	background: #202020;
	width: 45px;
	position: absolute;
	right: -30px;
	border-radius: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.saveModifier {
	height: 35px;
}
.skillModifier {
	height: 30px;
}

.saveSymbol,
.skillSymbol {
	font-weight: 700;
	color: #808080;
	margin-top: -4px;
	margin-left: -4px;
}

.saveNumber,
.skillNumber {
	font-size: 20px;
	font-weight: 600;
	margin-top: -4px;
}

.saveProficiency,
.skillProficiency {
	position: absolute;
	border: 1px solid #444;
	width: 12px;
	height: 12px;
	border-radius: 12px;
	background: #202020;
	left: -6px;
}
.saveProficiency.expertise,
.skillProficiency.expertise {
	background: #4c976e;
}
.saveProficiency.proficient,
.skillProficiency.proficient {
	background: #ccc;
}
.saveProficiency.halfProficient,
.skillProficiency.halfProficient {
	background: #666;
}

.ac {
	background: url('./ac.svg');
	width: 96px;
	height: 110px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.acTitle {
	top: 20px;
}

.acNumber {
	color: #ccc;
	font-size: 28px;
}

.hp {
	border: 2px solid #000;
	background: #202020;
	width: 160px;
	margin: 8px;
	height: 75px;
	border-radius: 16px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.hpDivider {
	color: #444;
	font-size: 32px;
}

.hpCurrent,
.hpMax {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 16px;
	color: #ccc;
	font-size: 28px;
}

.hpHeader {
	color: #666;
}

.sectionTitle {
	color: #666;
	font-weight: bold;
	font-variant: small-caps;
	font-family: 'Libre Baskerville', serif;
	text-align: center;
	width: 100%;
	margin: 4px 0;
}

.subtitle {
	font-variant: small-caps;
	font-family: 'Libre Baskerville', serif;
	font-size: 24px;
	width: 100%;
	color: #a6792d;
	border-bottom: 1px solid #a6792d;
	margin: 4px 0 8px 0;
}

.trait {
	margin-bottom: 8px;
	color: #ccc;

	.title {
		font-weight: 600;
		margin-right: 4px;
		font-style: italic;
	}
}
