.characterActionContainer {
	margin: 4px;
	border-radius: 4px;
	border: 2px solid #000;
	background: #222;
	padding: 8px;
	color: #ccc;
	width: 400px;
}

.actionHeader {
	float: right;
}

.actionType,
.actionHeader,
.actionTitle {
	font-family: 'Libre Baskerville', serif;
	font-size: 20px;
	color: #d29a38;
	font-variant: small-caps;
}

.actionTitle {
	font-family: 'Libre Baskerville', serif;
	font-weight: 600;
}
.actionHeader {
	font-size: 16px;
	color: #a6792d;
}

.roll {
	margin-top: 4px;
	display: flex;
	flex-direction: column;
	text-align: center;
	flex: 1;
}
