.wrapper {
	position: relative;
	// width: 90px;
	margin: 0 5px;
}

.avatar {
	height: 70px;
	width: 70px;
	position: relative;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	box-sizing: border-box;
	border: 3px solid #444;
	box-shadow: #000 0px 0px 5px;
	cursor: pointer;

	&:hover {
		border: 3px solid #fff;
	}

	transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ac {
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
	padding: 2px 3px;
	// background: #444;
	width: 23px;
	height: 32px;
	background-image: url(./ac.png); // 128 x 102
	background-size: contain;
	color: #eee;
	text-align: center;
	font-weight: 800;
	font-size: 14px;
	user-select: none;
}

.currentTurn {
	border: 3px solid rgb(103, 182, 87);
	box-shadow: #00ff15 0px 0px 10px;
	height: 90px;
	width: 90px;

	animation: pulse 2s infinite;

	@keyframes pulse {
		0% {
			box-shadow: #00ff15 0px 0px 10px;
		}

		50% {
			box-shadow: #00ff15 0px 0px 20px;
		}

		100% {
			box-shadow: #00ff15 0px 0px 10px;
		}
	}
}

.initiativeRoll {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 20px;
	margin-top: -15px;
	z-index: 99;
	// background: #fff;
	padding: 6px 4px;
	color: #eee;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	user-select: none;

	width: 18px;
	height: 18px;
	background-image: url(./dice.png); // 128 x 102
	background-size: contain;

	cursor: pointer;
}

.initiativeEditor {
	z-index: 9999;
	position: absolute;
	top: 0;
	width: 50px;
	left: 50%;
	transform: translateX(-50%);
}

.initiativeEditorInner {
	width: 100%;
	border-radius: 5px;
	padding: 2px 3px;
	box-sizing: border-box;
	box-shadow: #000 0 0 5px 3px;
	background-color: #ccc;
	color: #000;
	text-align: center;

	&:focus {
		outline: 0;
	}
}

.hpInput {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	// bottom: 0;
	width: 100%;
	padding: 2px 3px;
	box-sizing: border-box;
}

.hpInputInner {
	width: 100%;
	text-align: center;
	padding: 2px 4px;
	box-sizing: border-box;
	border: 1px solid #eee;
	border-radius: 5px;

	&:focus {
		outline: 0;
	}
}

.deleteButton {
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 16px;
	background: #f00;
	border-radius: 50%;
	font-weight: 800;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	user-select: none;
}
