* {
	padding: 0;
	margin: 0;
}

body {
	overflow: hidden;
}

.mapWrapper {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	/* right: 25%; */
}

.overlayWrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.chatWrapper {
	position: fixed;
	/* height: 99vh; */
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #444;
	/* padding: 0 10px 10px 10px; */
	width: 25vw;
}
