* {
	padding: 0;
	margin: 0;
}

body {
	overflow: hidden;
}

.mapWrapper {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	/* right: 25%; */
}

.overlayWrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 0;
	z-index: 1;
}

.chatWrapper {
	position: fixed;
	/* height: 99vh; */
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #444;
	/* padding: 0 10px 10px 10px; */
	width: 25vw;
}

/* Markdown styles */
p {
	margin: 4px 0;
}

li {
	margin-left: 28px;
	margin-bottom: 4px;
}

hr {
	margin: 8px 0;
	height: 0;
	width: 100%;
	border: none;
	border-top: 1px solid #d29a38;
}

code {
	color: #d29a38;
	font-family: convergence;
}

table {
	font-size: 14px;
	border-collapse: collapse;
	width: 100%;
	th,
	td {
		padding: 0 4px;
	}
	thead {
		tr th {
			text-align: left;
			color: #d29a38;
		}
	}

	tbody {
		tr {
			&:nth-child(odd) {
				background: #444;
			}
			td {
				text-align: left;
				color: #ccc;
			}
		}
	}
}
