.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.column.center {
	align-items: center;
	justify-content: center;
}

.characterSheet.inline {
	width: 100%;
	height: auto;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #222;
}

::-webkit-scrollbar {
	width: 3px;
	background-color: #222;
}

::-webkit-scrollbar-thumb {
	background-color: #a6792d;
	border-radius: 10px;
}

.characterSheet {
	background: #202020;
	width: 100%;
	height: 100vh;
	overflow: hidden auto;
	box-sizing: border-box;
	color: #ccc;
	padding: 8px;
	position: relative;
}

.characterImageContainer {
	position: absolute;
	top: 8px;
	right: 8px;
}

.characterName,
.characterName input {
	color: #d29a38;
	font-weight: bold;
	font-variant: small-caps;
	font-family: 'Libre Baskerville', serif;
	font-size: 24px;
}

.button {
	background: #333;
	border-radius: 60px;
	padding: 4px;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.characterType,
.characterType input,
.characterType select {
	font-style: italic;
	color: #999;
}

.boldHeading {
	font-weight: 600;
	margin-right: 4px;
	color: #a6792d;
}
.italicHeading {
	font-weight: 600;
	margin-right: 4px;
	font-style: italic;
}

.divider {
	margin: 8px 0;
	height: 0;
	border-style: solid;
	border-width: 3px 0 3px 99vw;
	border-color: transparent transparent transparent #d29a38;
}

.inline .divider {
	border-width: 3px 0 3px 380px;
}

.abilityContainer {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-evenly;
	width: 100%;
}

.ability {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	position: relative;
	padding: 0 0px;
}

.abilityTitle {
	color: #444;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	color: #999;
}

.speedTitle {
	font-size: 12px;
}
.abilityTitle {
	font-size: 16px;
	font-weight: 700;
}

.skill,
.save {
	display: flex;
	flex-direction: row;
	margin: 0 4px;
}

.trait,
.action {
	margin-bottom: 8px;
}

.subheading {
	font-variant: small-caps;
	font-family: 'Libre Baskerville', serif;
	font-size: 24px;
	width: 100%;
	color: #a6792d;
	border-bottom: 1px solid #a6792d;
	margin: 4px 0 8px 0;
}
