.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.characterSheet {
	background: #202020;
	width: 1000px;
	position: absolute;
	top: 10vh;
	left: 10vh;
	color: #ccc;
}

.character-sheet.popout {
	position: static;
	width: 100vw;
	height: 100vh;
	overflow: hidden auto;
}

.popout .character-close,
.popout .character-popout {
	display: none;
}

.character-close,
.character-cancel {
	background: red;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.characterImageContainer {
	position: absolute;
	top: 30px;
	right: 30px;
}

.characterName {
	color: #d29a38;
	font-weight: bold;
	font-variant: small-caps;
	font-family: 'Libre Baskerville', serif;
	font-size: 24px;
}

.characterType {
	font-style: italic;
}

.divider {
	border: 1px solid #d29a38;
	margin: 8px 0;
}

.abilityContainer {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-evenly;
	width: 100%;
}

.ability {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 0 24px;
}

.abilityTitle {
	color: #444;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	font-size: 11px;
	font-weight: 700;
	color: #999;
}
