.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.popupAdvantage,
.popupDisadvantage {
	height: 30px;
	width: 30px;
	color: #202020;
	font-size: 20px;
	text-align: center;
	line-height: 30px;
	font-weight: 600;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	z-index: 1;
	opacity: 0;
	visibility: collapse;
	transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
		opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms, visibility 300ms;
}
.popupAdvantage {
	background: url(../../../../components/chat/advantage.svg);
	right: -30px;
	transform: translate3d(-10px, 0, 0);
}
.popupDisadvantage {
	background: url(../../../../components/chat/disadvantage.svg);
	left: -30px;
	transform: translate3d(10px, 0, 0);
}

div:hover > .popupAdvantage,
div:hover > .popupDisadvantage {
	transform: translate3d(0, 0, 0);
	opacity: 1;
	visibility: visible;
}

div:hover > .popupAdvantage:hover,
div:hover > .popupDisadvantage:hover {
	color: #ccc;
	transform: scale(1.25);
}

.characterSheet {
	background: #202020;
	width: 100%;
	height: 100vh;
	overflow: hidden auto;
	box-sizing: border-box;
	color: #ccc;
	padding: 8px;
}

.popout .character-close,
.popout .character-popout {
	display: none;
}

.character-close,
.character-cancel {
	background: red;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.characterImageContainer {
	position: absolute;
	top: 8px;
	right: 8px;
}

.characterName,
.characterName input {
	color: #d29a38;
	font-weight: bold;
	font-variant: small-caps;
	font-family: 'Libre Baskerville', serif;
	font-size: 24px;
}

input {
	background: #333;
	color: #ccc;
	border: none;
	font-size: 16px;
	min-width: 30px;
	max-width: 150px;
	margin: 1px;
	font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.characterType,
.characterType input {
	font-style: italic;
	color: #999;
}

.boldHeading {
	font-weight: 600;
	margin-right: 4px;
	color: #a6792d;
}
.italicHeading {
	font-weight: 600;
	margin-right: 4px;
	font-style: italic;
}

.divider {
	margin: 8px 0;
	height: 0;
	border-style: solid;
	border-width: 3px 0 3px 99vw;
	border-color: transparent transparent transparent #d29a38;
}

.abilityContainer {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-evenly;
	width: 100%;
}

.ability {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 0 0px;
}

.abilityTitle {
	color: #444;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	color: #999;
}

.skill {
	display: flex;
	flex-direction: row;
	margin: 0 4px;
}

.feature,
.action {
	margin-bottom: 8px;
}

.action {
	cursor: pointer;
}

.subheading {
	font-variant: small-caps;
	font-family: 'Libre Baskerville', serif;
	font-size: 24px;
	width: 100%;
	color: #a6792d;
	border-bottom: 1px solid #a6792d;
	margin: 4px 0 8px 0;
}

.rollable {
	color: #3477bf;
	cursor: pointer;
	position: relative;
	font-weight: 600;
	margin: 0 4px;
}
