.hoverContainer {
	display: inline-block;

	.hover {
		background: #222;
		z-index: 1;
		padding: 8px;
		border-top: 4px solid #666;
		border-bottom: 4px solid #666;
		width: 600px;
		border-radius: 1px;
		opacity: 0;
		visibility: collapse;
		display: none;
		position: fixed;
		top: 8px;
		right: 8px;
		color: #ccc;
		font-weight: 400;
		box-shadow: 0 0 12px black;
	}

	.title {
		font-variant: small-caps;
		font-family: 'Libre Baskerville', serif;
		font-size: 20px;
		width: 100%;
		color: #d29a38;
		margin: 4px 0 4px 0;
	}

	.hoverChildren {
		border-bottom: 1px dotted #666;
		padding-bottom: 0px;
	}

	&:hover .hover {
		opacity: 1;
		visibility: visible;
		display: inline-block;
	}
}
